body{
    max-width: 1000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
}

img{
    size: 100%;
    border-style: solid;
    border-width: 0.1rem;
    height: 300px;
    width: 300px;
}

main{
    display: flex;
    flex-basis: 30%;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}

figure{
    height: 30rem;
    width: 20rem;
}