main{
   background-image: url(achtergrond.webp);
   background-repeat: repeat;
   max-width: 1000px;
   margin: 0 auto;

}

main{
    flex-basis: 300px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    max-width: 30rem;
    padding: 5rem;
}

.item:nth-child(3){
    background-color: rgba(139, 211, 146, 0.5);
    min-width: 60rem;
}

.item:nth-child(6){
    background-color: rgba(139, 211, 146, 0.5);
     min-width: 60rem;
}

